{% extends "base.j2" %}
{% block content %}
<div class="box has-text-centered is-size-1 has-text-danger">
    500
</div>
<div class="box has-text-centered is-size-1 has-text-danger">
    {{ _('The bunny is confused') }}
</div>
<div class="has-text-centered">
    <a href="/" class="button is-rounded">
        {{ _('Try again?') }}
    </a>
</div>
{% endblock %}
