<footer class="footer" style="padding: 2rem 1rem 2rem !important;">
    <div class="content has-text-centered is-size-7">
        <p>
            &copy; 2024 isiteaster.us
            |
            <a href="https://github.com">View on GitHub</a>
        </p>
    </div>
</footer>
