{% extends "base.j2" %}
{% block content %}
<div class="box has-text-centered is-size-1 has-text-danger">
    404
</div>
<div class="box has-text-centered is-size-1 has-text-danger">
    The bunny has escaped!
</div>
<div class="has-text-centered">
    <a href="/" class="button is-rounded">
        Chase after it
    </a>
</div>
{% endblock %}
