{% extends "base.j2" %}
{% block content %}

{% if iseaster %}
    <div class="has-text-centered">
        {% if bunny_picture %}
            <figure class="image is-square">
                <img src="{{ url_for('static', filename='images/bunny_happy.svg') }}" />
            </figure>
        {% else %}
            <span class="is-size-1">
                &#128522;
            </span>
        {% endif %}
    </div>
    <div class="has-text-centered has-text-weight-bold">
        {{ _('Today is Easter!') }}
    </div>
{% else %}
    <div class="box has-text-centered">
        {% if bunny_picture %}
            <figure class="image is-square">
                <img
                    src="{{ url_for('static', filename='images/bunny_sad.svg') }}" />
            </figure>
        {% else %}
            <span class="is-size-1">
                &#128542;
            </span>
        {% endif %}
    </div>
    <div class="box has-text-centered">
        <div class="has-text-weight-bold">
            {{ _('Easter is on') }} {{ easter_date|dateformat(format='long', rebase=False) }}
        </div>
        <div class="has-text-weight-light is-size-7">
            {{ _("(It's a Sunday because Easter is always on a Sunday)") }}
        </div>
    </div>
{% endif %}
{% endblock %}
